Source: ros-hydro-nao-teleop
Section: misc
Priority: extra
Maintainer: Vincent Rabaud <vincent.rabaud@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-actionlib, ros-hydro-catkin, ros-hydro-naoqi-msgs, ros-hydro-roscpp, ros-hydro-sensor-msgs, ros-hydro-std-msgs, ros-hydro-std-srvs
Homepage: http://ros.org/wiki/nao_remote
Standards-Version: 3.9.2

Package: ros-hydro-nao-teleop
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-actionlib, ros-hydro-joy, ros-hydro-naoqi-msgs, ros-hydro-roscpp, ros-hydro-sensor-msgs, ros-hydro-std-msgs, ros-hydro-std-srvs
Description: Teleoperation (gamepad or joystick) for the Nao humanoid
